body {
  font-family: Georgia, serif;
  background: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 20 auto;
  padding: 2rem;
}
header h1 {  
 font-size: 2rem;   margin-bottom: 1rem; 
}
}

nav a {
 font-family: Georgia;
  font-size: 15px;
  margin-right: 40px;
  color: #000;
  font-weight: 100px;
  border-style: solid;
  margin: 50px;
  Padding: 10px;
  text-align: center;
  Background-color: rgb(153,102,51)
    
}

nav a:hover {
  text-decoration: underline;
}

main section {
  margin-top: 2rem;
}

footer {
  margin-top: 4rem;
  text-align: center;
  font-size: 0.9rem;
}
